:root {
  --bg-color: #202020;
  --text-color-main: #fff;
  --text-color-secondary: #000;
  --font-family-main: "Roboto", sans-serif;
  --font-family-secondary: "Montserrat", sans-serif;
  --footer-bg-color: #282323;
}
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  background: var(--bg-color);
}
h1 {
  font-family: var(--font-family-main);
  font-size: 72px;
  line-height: 1.16;
}
h2 {
  font-family: var(--font-family-secondary);
  font-size: 36px;
  font-weight: bold;
  line-height: 1.16;
  text-transform: uppercase;
}
h3 {
  font-family: var(--font-family-main);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.88;
}
footer {
  height: 100px;
}
.navbar {
  height: 100px;
}
.bg-custom {
  background: var(--bg-color);
  color: var(--text-color-main);
}
.nav-link {
  color: var(--text-color-main);
}
.nav-link:focus,
.nav-link:hover {
  color: #d1d1d1;
}
.nav-link.active {
  color: #f65282 !important;
}
.hero {
  background: var(--bg-color);
  text-align: center;
  color: var(--text-color-main);
  padding: 160px 30px;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  height: 900px;
  margin-bottom: 100px;
}
.btn-custom {
  padding: 18px 30px;
  border-radius: 50px;
  border: 2px solid #ffff;
  background: transparent;
  color: var(--text-color-main);
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
}
.btn.btn-custom:hover,
.btn.btn-custom:focus {
  border: 2px solid var(--bg-color);
  background: var(--text-color-main);
  color: var(--text-color-secondary);
}
.name,
.main-header {
  margin-bottom: 25px;
}
.name {
  font-size: 24px;
}
.description-area {
  margin-bottom: 48px;
}
.container {
  max-width: 1156px;
}
.container-img {
  margin-bottom: 100px;
}
.social-icons {
  margin-left: 30px;
}
.social-icons:first-child {
  margin-left: 0;
}
.rights {
  font-family: var(--font-family-main);
  color: var(--text-color-main);
  font-size: 16px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 14px;
  }
  .container {
    max-width: 100%;
  }
  .hero {
    margin-bottom: 14px;
    height: 500px;
  }
  .mobile-size {
    margin-bottom: 14px;
    justify-content: center;
    padding: 0;
  }
  .navbar {
    height: 60px;
  }
}
